<h2>
<a> Welcome to the blog! </a>
<%=  current_user.username %>
<%= button_to "Log Out", logout_path, method: :delete %>
</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= @users.find(post.user_id).username %>
      <% if @users.find(post.user_id).username == current_user.username %>
      <%= button_to "delete post button placeholder", logout_path, method: :delete %>
      <% end %>
      <br>
      <%= post.content %>
    </li>
  <% end %>
</ul>